<app-component-card title="Checkbox">
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <app-checkbox
      ></app-checkbox>
      <span class="block text-sm font-medium text-gray-700 dark:text-gray-400">
        Default
      </span>
    </div>
    <div class="flex items-center gap-3">
      <app-checkbox
        label="Checked"
      ></app-checkbox>
    </div>
    <div class="flex items-center gap-3">
      <app-checkbox
        [disabled]="true"
        label="Disabled"
      ></app-checkbox>
    </div>
  </div>
</app-component-card>